body {
    background-image: url("/imagenes/campofutbol.jpg");
    background-size: auto;
    color: white;
    margin: auto;
}
img {
    width: 200px;
    height: 200px;
    margin: auto;
    float: right;
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: darkgreen;
}
li {
float: left;
}
li a {
display: block;
color: white;
text-align: center;
padding: 10px 10px;
text-decoration: none;
}
li a:hover {
background-color: darkgray;
}